/* General */
*{
    font-family: aptos;
}

body {
    min-width: 400px;
}

/* Logo */
.gomarus-logo {
    width: 100%;
    max-width: 306px;
    height: auto;
    margin-bottom: 2rem;
}

/* Title */
.text-body-emphasis {
    font-weight: 700;
}

/* Badges */
.badge-grid {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(4, max-content);
}

.badge {
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    height: 40px;
    margin: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badgeFont {
    font-size: 15px;
    margin-left: 2px;
}

input[type="checkbox"]:checked {
    accent-color: blue;
}

@media (max-width: 992px) {
    .badge-grid {
        grid-template-columns: repeat(2, max-content);
    }
}
@media (min-width: 576px) and (max-width: 992px) {
    .badge-container span {
        flex: 0 0 calc(50% - 0.5rem);
        justify-content: center;
    }
}
@media (max-width: 576px) {
    .badge-grid {
        grid-template-columns: repeat(1, max-content);
    }
}

/* Number of characters */
.length {
    max-width: 75px;
}


/* Generate section */
.password-group {
    max-width: 400px;
}

@media (max-width: 576px) {
    .password-group {
        max-width: 250px;
    }
}

/* Cracktime */
.cracktime {
    margin-top: 1rem;
    font-style: italic;
    color: #555;
    text-align: center;
}